
#trash {
    height: 60px;
    width: 60px;
    background-image: url('https://dansylvain.github.io/pictures/trashcan.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 150;
    position:relative;
    filter: blur(2px) saturate(120%) hue-rotate(180deg);
    opacity: 0.8;
    filter: saturate(120%) hue-rotate(180deg)
    drop-shadow(0 0 10px rgba(0, 200, 255, 0.7));
    animation: flotter 3s ease-in-out infinite;
    margin:20px;
  }

  @keyframes flotter {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
  }
